html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	/* margin: auto; */
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	max-width: 100%;
	background-color: #474747;
}

.section {
	background: linear-gradient(to right, #d1061f 50%, #002d74 50%);
	background-size: cover;
	height: 623px;
	width: 100%;
}

.block {
	background-image: url(./img/cover.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	height: 623px;
	width: 100%;
}

.main {
	/* width: 1500px; */
	height: 100%;
	margin: auto;
	max-width: 100%;
	padding-top: 5px;
	padding-right: 4rem;
	padding-left: 2rem;
}

.event-info_list {
	background-color: #00000080;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	max-width: 590px;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
}

ul > :first-child {
	list-style-type: none;
}

.teams {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1170px;
	/* width: 100%; */
	margin: 12rem auto 1rem;
}

p {
	color: white;
	font-size: 40px;
	font-weight: 700;
	margin: 0;
	padding: 5px;
}

img {
	background-color: #fff;
	border-radius: 50%;
	margin: 1rem auto;
}

.first-team,
.second-team {
	width: 300px;
	height: 350px;
	text-align: center;
}

.score {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 330px;
	height: 360px;
}

.results {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: black;
	width: 100%;
	height: 184px;
	padding: 0;
	color: white;
}

.score-separator {
	border-right: 1px solid #c8c8c8;
	height: 30%;
	padding: 0;
	margin: 0;
}

.rez-color {
	font-size: 100px;
	font-weight: 700;
	margin: 0;
	padding: 3px;
	letter-spacing: 0.2px;
	width: 100%;
}

.rez-color--green {
	color: #00f4b9;
}

.view-btn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 180px;
	text-align: center;
}

.final {
	padding: 5px 10px;
	background-color: white;
	margin: auto;
	border-radius: 5px;
	color: #ff3838;
	font-size: 12px;
	font-weight: bold;
}

.btn-view {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	vertical-align: bottom;
	padding: 10px 24px;
	border-radius: 20px;
	line-height: 1.5;
	text-decoration: none;
	cursor: pointer;
	border-color: #f2f2f2;
	color: #e9e9e9;
	background: none;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin: 100px auto 0;
}

@media only screen and (max-width: 1024px) {
	.teams {
		max-width: 720px;
	}

	.score {
		max-width: 250px;
		max-height: 360px;
	}

	.results {
		height: auto;
	}

	.rez-color {
		font-size: 80px;
		font-weight: 600;
		letter-spacing: 0.1px;
		max-width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.event-info_list {
		flex-flow: column wrap;
		max-width: 400px;
		padding: 1px;
		list-style-type: none;
	}

	.teams {
		max-width: 500px;
	}

	.first-team,
	.second-team {
		width: auto;
		height: auto;
	}

	.score {
		width: auto;
		height: auto;
	}

	.rez-color {
		font-size: 70px;
		font-weight: 700;
		letter-spacing: 1px;
	}

	.results {
		height: auto;
	}

	.teams {
		justify-content: center;
	}

	p {
		font-size: 20px;
		font-weight: bold;
		margin: 0;
		text-align: center;
	}
}
